body {
    background-color: lightpink;
}

h1 {
    margin: auto;
    width: 50%;
    padding: 25px;
    text-align: center;
    letter-spacing: 0.5cm;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
