h1,
ul {
    color: darkolivegreen;
}

h1 {
    margin: auto;
    width: 50%;
    padding: 25px;
    background-color: lightgrey;
    text-align: center;
  }

body {
    background-image: url("https://media.istockphoto.com/vectors/italian-chef-kiss-vector-id624545600?k=20&m=624545600&s=612x612&w=0&h=0k1VdMrhtbPyECu7WjCXxXRr3FQTs8joNruiH98kOC8=");
    background-color: #cccccc;
    background-blend-mode: overlay;
   }

ul {
    font-size: 32px;
    margin: auto;
    width: 50%;
    padding: 25px;
    list-style-type: none;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}